@import url(//fonts.googleapis.com/css?family=Caveat);

root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	color:black;
	background-color: #fffff;
	font-family: Helvetica, Arial, sans-serif;
}

.container { /* double container pattern */
	max-width: 400px;
	margin: auto;
	border: thin;
}

.logo {
	color:black;
	font-size: 4.0em;
	font-family: 'Caveat', sans-serif;
}

div.history-area {
	font-size: 1.5em;
	margin-bottom: 2em;
}

.history-area .round-result {
	font-size: 0.8em;
	padding-left: 1.2em;
}

.history-area .round-index {
	color: gray;
	min-width: 2.0em;
	text-align: right;
	/*padding-right: 0.8em;*/
}

.history-table {
	display: table;
	width: 100%;
	border-spacing: 0.25em 0.2em;
	background-color: #eee;
}

div.history-row {
	display: inline-table;
	width: 100%;
}

.cell {
	display: table-cell;
	background-color: #eee;
	min-width: 1.1em;
	/* TODO GC
	-- remove debug style from here
	border-color: gray;
	border-width: thin;
	border-style: solid;
	-- remove till here*/
}

.cell.round-index {
	width: 15%;
}

.cell.round-result {
	width: 33%;
	font-size: 0.8em;
}

.cell.color {
	border-radius: 3em;
}

.peg {
	font-size: 0.8em;
	min-width: 1.2em;
	display: inline-block;
	text-align: center;
	border-width: thin;
	border-radius: 4em;
	border-color: black;
	border-style: solid;
}

.peg-black {
	background-color:black;
	color: black;
}

.peg-white {
	background-color:white;
	color:white
}

#move-area input.sequence {
  font-size: 1.2em;
  width: 0.7em;
  padding: 1px 7px 1px 7px;
  border-style: none;
  border-radius: 20px;
  color: black;
}

form.sequence-area  {
  display: inline;
}


/* TODO GC: remove #move-area or re-introduce a div with this id */
/* TODO GC: remove those lines if more needed (in case you display the color in another way not as single input text fields */
#move-area input#pos-1 {
  background-color: yellow;
  border-color: gray;
  border-style: solid;
  border-width: thin;
}

#move-area input#pos-2 {
  background-color: white;
  color: black;
  border-color: gray;
  border-style: solid;
  border-width: thin;
}

#move-area input#pos-3 {
  background-color: red;
}

#move-area input#pos-4 {
  background-color: black;
  color: white;
}

button.send-move {
		margin: 2em 0em 4em 0em;
		display: block;
		padding: 0.5em;
		background-color: #0090c9;
		text-align: center;
}

.button-link {
	display: block;
	padding: 0.5em;
	color: #fff;
	background-color: #0090c9;
	text-align: center;
	text-decoration: none;
}

footer {
	margin-top: 3em;
	padding: 1em;
	clear: left;
	text-align: center;
	font-size: 0.75em;
	color: black;
	background-color: whitesmoke;
}

.login {
	font-size: 2.2em;
}

input.login {
	margin-left: 1em;
	border-radius: 0.15em;
	border-color: lightgray;
	border-width: thin;
	background-color: #f9f9f9;
}

button.login {
	border-radius: 0.15em;
	margin-left: 5.5em;
	margin-top: 0.8em;
	background-color: #eaeaea;
}

.message, .error {
	margin-left: 11em;
	margin-bottom: 0.9em;
	font-size: 1.0em;
	font-style: italic;
}

.message {
	color: #9090e0;
}

.error {
	color: red;
}

.validation-error {
	font-size: 0.9em;
	color: red;
	font-style: italic;
}

input#move {
	font-size: 1.5em;
}

span.validation-error ~ input#move {
	background-color: #f8dd5f;
}

table.session-info, table.session-info th, table.session-info td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

span.color {
	border-radius: 1.1em;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 0.05em;
	padding-right: 0.05em;
	margin-left:0.1em;
	margin-right: 0.1em;
	text-align: center;
}

span.color-A {
	background-color: white;
}

span.color-B {
	background-color: yellow;
}

span.color-C {
	background-color: red;
}

span.color-D {
	background-color: green;
	color: white;
}

span.color-E {
	background-color: blue;
	color: white;
}

span.color-F {
	background-color: black;
	color: white;
}