@import url(//fonts.googleapis.com/css?family=Caveat);

body {
	color:black;
}

h1#title {
	color:black;
	font-size: 3.5em;
	font-family: 'Caveat', sans-serif;
}

div#history-area {
  font-size: 1.5em;
	margin-bottom: 2em;
}

#move-area input.sequence {
  font-size: 1.2em;
  width: 0.7em;
  padding: 1px 7px 1px 7px;
  border-style: none;
  border-radius: 20px;
  color: black;
}

form.sequence-area  {
  display: inline;
}

/*
div.sequence-area {
  background-color: brown;
  display: inline;
}
*/

/* TODO remove #move-area or re-introduce a div with this id */
/* TODO remove those lines if more needed (in case you display the color in another way not as single input text fields */
#move-area input#pos-1 {
  background-color: yellow;
  border-color: gray;
  border-style: solid;
  border-width: thin;
}

#move-area input#pos-2 {
  background-color: white;
  color: black;
  border-color: gray;
  border-style: solid;
  border-width: thin;
}

#move-area input#pos-3 {
  background-color: red;
}

#move-area input#pos-4 {
  background-color: black;
  color: white;
}

footer {
	margin-top: 3em;
    padding: 1em;
    clear: left;
    text-align: center;
	font-size: 0.75em;
    color: black;
    background-color: whitesmoke;
}

.validation-error {
	font-size: 0.9em;
	color: red;
	font-style: italic;
}

input#move {
	font-size: 1.5em;
}

span.validation-error ~ input#move {
    background-color: #f8f85f;
}